<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>RazerCtl</string>
	<key>CFBundleExecutable</key>
	<string>RazerCtl</string>
	<key>CFBundleIdentifier</key>
	<string>local.razerctl.widget</string>
	<key>CFBundleIconFile</key>
	<string>RazerCtl</string>
	<key>CFBundleName</key>
	<string>RazerCtl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>RazerCtl uses Bluetooth to detect connected Razer devices and change supported mouse settings.</string>
</dict>
</plist>
